#form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-right: 10%;
  border-radius: 20%;
}
main {
  background-color: black;
  margin: auto;
  width: 30%;
  width: fit-content;
  margin-top: 80px;
}
button:hover {
  background-color: #4caf50;
}
#wysw {
  height: 30px;
  background-color: white;
  margin: 2px;
  border: 3px solid white;
  border-radius: 5px;
}
