form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  margin-right: 10%;
  border-radius: 20%;
}
main {
  background-color: black;
  margin: auto;
  width: 30%;
  width: fit-content;
  margin-top: 80px;
}
.grid-item {
  background-color: cyan;
  border: 1px solid blueviolet;
  border-radius: 100% 100% 100% 100%;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 1px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 1px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 1px 8px 24px 0px rgba(66, 68, 90, 1);
}
button:hover {
  background-color: #4caf50;
}
p {
  height: 50px;
  background-color: white;
  margin: 2px;
  border: 3px solid white;
  border-radius: 5px;
}
